$primary: #1B1E22;
$secondary-text: #8E8E9A;
$primary-background: #F2F2F7;
$primary-text: #1B1E22;
$headerOffset: 15px;
$minor: #E5E5ED;
$button: #239735;$dark: #1c1e23;
$white: #fff;
$darkText: #F2F2F7;
$whiteText: #1B1E22;
$darkInput: #2B2E32;
$darkInputText: #F2F2F7;
$darkCodeBtn: #32D74B;